.home {
    background-color: $color-pale-gray;
    .products {
        margin-top: 2.5em;
        @include media-breakpoint-up(xl) {
            .container {
                max-width: 1111px;
            }
        }    
    }
}