.home {
    background-color: $color-pale-gray;
    section.products {
        margin-top: 2.5em;
        @include media-breakpoint-up(xl) {
            .container {
                max-width: 1111px;
            }
        }
        .more-btn {
            margin: 1em 0;
        } 
    }
    section.how {
        background-color: $primary-purple;
        margin-top: 1.8em;
        padding: 3em 0 6.5em 0;
        .card-group {
            margin-top: 4em;
            .card {
                border: 5px solid white;
                .icon-circle {
                    margin-top: -1em;
                }
                .card-body {
                    padding-top: 1.5em;
                }             
            }
            .card:nth-child(2) {
                background-color: #EAEAEA;
                border-left: 0;
                border-right: 0;
            }
            .card:nth-child(3) {
                background-color: $footer-background;
                color: white;
                border-left: 0;
                .card-text {
                    font-weight: 300;
                }
            }
            .card:first-child {
                border-right: 0;
            }            
        }
        @include media-breakpoint-between(xs,md) {
            @include cardgroup-column-layout;
            .card-group {
                & > .card, .card:not(:first-child):not(:last-child):not(:only-child) {
                    margin-bottom: 30px;
                    border: 5px solid white;
                }
                .card:last-child {
                    border-left: 5px solid white;
                }              
            }
        }
    }
}