$primary-purple: #5D2359;
$primary-dark-blue: #2B71B8;
$primary-light-blue: #81CBDB;
$primary-pink: #DD407D;
$primary-pink-hover: #D02668;
$primary-gray: #404042;

$color-dark-gray: #333333;
$footer-background: #514751;

$small-text: .8em;
$btn-padding: .7em 1.5em;