$primary-purple: #5D2359;
$primary-dark-blue: #2B71B8;
$primary-dark-blue-hover: #1259A1;
$primary-light-blue: #81CBDB;
$primary-pink: #DD407D;
$primary-pink-hover: #D02668;
$primary-gray: #404042;

$color-dark-gray: #333333;
$color-pale-gray: #F3F3F3;
$footer-background: #514751;
$light-gray: #F3F3F3;

$small-text: .8em;
$btn-padding: 1em 1.7em .9em 1.7em;
$card-padding: 2em;
$card-border-radius: 5px;